# Configuration file

filters {
    # Should messages from the forge logger be filtered? [default: true]
    B:FilterForge=true

    # Should messages from java loggers be filtered? [default: true]
    B:FilterJava=true

    # Should messages from log4j loggers be filtered? [default: true]
    B:FilterLog4J=true

    # Should messages from misc loggers be filtered? [default: true]
    B:FilterOthers=true

    # Should messages from system out be filtered? [default: true]
    B:FilterSystem=true
}


general {
    # A list of strings. If a console message contains any of these, it will be filtered out of the log. [default: ]
    S:BasicFilter <
	    No types have been added to Biome openterraingenerator:golden_fall_edge, types have been assigned on a best-effort guess: [PLAINS]
		No types have been added to Biome openterraingenerator:warm_yellow, types have been assigned on a best-effort guess: [PLAINS]
		Disabled Requirement for Input: reskillable:agility
		Disabled Requirement for Input: reskillable:building
		Disabled Requirement for Input: reskillable:defense
		Disabled Requirement for Input: reskillable:attack
		Disabled Requirement for Input: reskillable:gathering
		Disabled Requirement for Input: reskillable:mining
		Disabled Requirement for Input: reskillable:magic
		Disabled Requirement for Input: reskillable:farming
		Unable to find recipe for minecraft:rabbit_stew
		Unable to find recipe for minecraft:baked_potato
		[FINE/CustomNPCs][noppes.npcs.controllers.DialogController:44] Loading Dialogs
		[FINE/CustomNPCs][noppes.npcs.controllers.DialogController:46] Done loading Dialogs
		Invalid fingerprint detected! The file StuffASockInIt-1.12.2-1.1.30.jar may have been tampered with. This version will NOT be supported by the author!
		The mod sasit is expecting signature d476d1b22b218a10d845928d1665d45fce301b27 for source StuffASockInIt-1.12.2-1.1.30.jar, however there is no signature matching that description
		No MaxMind credentials found in the configuration file! GeoIp protections will be disabled.
		Could not download GeoLiteAPI database [FileNotFoundException]:
		Meta-based auction limits will be disabled
     >

    # A list of regex patterns. If a console message matches one of these filters they will be removed from the log. [default: ]
    S:RegexFilters <
     >
}


